NODE_ENV=development
PORT=3007
DATABASE_URL=postgresql://meetup:meetup_dev_password@localhost:5436/notifications_db
NATS_URL=nats://localhost:4222
# FIREBASE_PROJECT_ID=your-project-id
# FIREBASE_CREDENTIALS={"type":"service_account",...}
