NODE_ENV=development
PORT=3000
REDIS_URL=redis://localhost:6379
AUTH_SERVICE_URL=http://localhost:3001
PROFILE_SERVICE_GRPC_URL=localhost:50052
CHAT_SERVICE_GRPC_URL=localhost:50053
MEDIA_SERVICE_GRPC_URL=localhost:50054
SEARCH_SERVICE_URL=http://localhost:3004
JWKS_URI=http://localhost:3001/.well-known/jwks.json
RATE_LIMIT_TTL=60000
RATE_LIMIT_MAX=100
